geopandas
pandas
matplotlib
plotly
seaborn
requests
spacy
networkx
tqdm
beautifulsoup4
streamlit
boto3
pyvis
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
